// https: //stackoverflow.com/a/30209802/11815953

$icons: ("eye": "\f112", "start": "\f12e", "stop": "\f12f");

@each $name, $glyph in $icons {
    .icon-#{$name}:before {
        display    : inline-block;
        font-family: "Icon Font";
        content    : $glyph;
    }
}